*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

nav{
	  height: auto;
	  padding: 20px 10px;
		}
		#nav1{
		  background-color: #333;
      padding: 12px;
      font-size: 18px;
      line-height: 20px;
        border-radius: 3px;
          opacity: 0.9;
		}
		#nav2{
		  background-color: #333;
      padding: 12px;
      font-size: 18px;
      line-height: 20px;
        border-radius: 3px;
		}

		ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    overflow: hidden;
		}

		li {
		    float: right;
		}

    #nav2 li{
      float: left;
    }

		li a {
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 14px 16px;
		    text-decoration: none;
		}



    #nav1 a:hover {
      background-color: #00BFFF;
      color: black;
    }

    #nav2 a:hover {
      background-color: #00BFFF;
      color: black;
    }



#container h2{
  text-align: center;
}

#nav1 a.active {
  background-color: #00BFFF;
  color: black;
}

  #nav2 li a .dropbtn{

display:inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;

}
 #nav2 li a:hover , .dropdown:hover .dropbtn{
  background-color: #00BFFF;
}

#nav2 li.dropdown{
  display: inline-block;
}

#nav2  .dropdown-content{
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
 #nav2 .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
 #nav2 .dropdown-content a:hover{
  background-color: #00BFFF;
  color: black;
}


#nav2 .dropdown:hover .dropdown-content{
  display: block;
}


 footer a {
  color: #00BFFF;
  text-decoration: none;
}







body img{
  opacity: 0.4;
  height: 700px;
  width: 100%;
  /* filter: blur(3px);
  -webkit-filter: blur(3px); */
}

.container{
  position: relative;
  text-align: center;
  color: black;
}

.login_text{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: black;
  font-size: 30px;
  font-family:monospace;
}

.login-box{

  color: black;
  font-weight: bold;
  border: 3px solid #000000;
  position:absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 30%;
  padding: 20px;
  text-align: center;
}

 .login-box h3{
   float:left;
  font-size: 20px;
  padding: 13px 0;
}

.textbox1{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 9px 0;
  border-bottom: 1px solid ;

}

.textbox1 input{
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 50%;
  float: left;
  margin: 10px;
}

.login-box button{
width: 40%;
background-color: Gray;
/* border: 2px solid ; */
/* color: black; */
padding: 5px;
font-size: 20px;
cursor: pointer;
margin: 12px 0;
margin-top: 2em;
}







footer {
  font-size: 0.7em;
  text-align: center;
  margin-top: 5em;
  color: #ffffff;


}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #333;
  color: white;
}

.fa-twitter {
  background: #333;
  color: white;
}

.fa-instagram{
  background: #333;
  color: white;
}
.fa-skype {
  background: #333;
  color: white;
}

#copyright {
  float: left;
  width: 50%;
  height: 15em;
  background-color: #333;
  margin: auto;
  padding-top: 5em;
}

#social {
  float: right;
  margin: auto;
  width: 50%;
  height: 15em;
  padding-top: 5em;
  background-color: #333;

}
img.mylogo{

  width: 160px;
  height: 50px;
  margin: 0px;
  background-color: #333;

}

a.mylogo{
  padding: 0px;
  margin-right: 20px;
}
