*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

nav{
	  height: auto;
	  padding: 20px 10px;
		}
		#nav1{
		  background-color: #333;
      padding: 12px;
      font-size: 18px;
      line-height: 20px;
        border-radius: 3px;
          opacity: 0.9;
		}
		#nav2{
		  background-color: #333;
      padding: 12px;
      font-size: 18px;
      line-height: 20px;
        border-radius: 3px;
		}

		ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    overflow: hidden;
		}

		li {
		    float: right;
		}

    #nav2 li{
      float: left;
    }

		li a {
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 14px 16px;
		    text-decoration: none;
		}


    #nav1 a:hover {
      background-color: #00BFFF;
      color: black;
    }

    #nav2 a:hover {
      background-color: #00BFFF;
      color: black;
    }



#container h2{
  text-align: center;
}

#nav1 a.active {
  background-color: #00BFFF;
  color: black;
}

  #nav2 li a .dropbtn{

display:inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;

}
 #nav2 li a:hover , .dropdown:hover .dropbtn{
  background-color: #00BFFF;
}

#nav2 li.dropdown{
  display: inline-block;
}

#nav2  .dropdown-content{
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
 #nav2 .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
 #nav2 .dropdown-content a:hover{
  background-color: #00BFFF;
  color: black;
}


#nav2 .dropdown:hover .dropdown-content{
  display: block;
}

section h2{
  margin-top: 1em;
  margin-left: 13%;
  font-family: cursive;
}
section ol{
  margin-top: 5em;
  margin-left: 10%;
}

section li{
  margin-left: 15%;
  margin-right: 15%;
}
 footer a {
  color: #00BFFF;
  text-decoration: none;
}


#copyright {
  float: left;
  padding: 1em;
  width: 50%;
  height: 15em;
  background-color: #333;
  margin: auto;
  padding-top: 5em;
}

#social {
  float: right;
  margin: auto;
  width: 50%;
  height: 15em;
  /* padding: 1em; */
  padding-top: 5em;
  background-color: #333;

}


body {
  background-image: url('../images/tt.jpg');
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 0; */
align-items: center;


justify-content: center;
/* background-color: black; */
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}

footer {
  font-size: 0.7em;
  text-align: center;
  margin-top: 5em;
  color: #ffffff;


}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color: #ffffff;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #333;
  color: white;
}

.fa-twitter {
  background: #333;
  color: white;
}

.fa-instagram{
  background: #333;
  color: white;
}
.fa-skype {
  background: #333;
  color: white;
}



.container{
  width: 80%;
  padding: 20px;




}



.container h2{
  width: 100%;
  color: #333;
  font-size: 45px;
  margin-bottom: 10px;
  text-align: center;
  /* font-family:monospace; */
}
img.mylogo{

  width: 160px;
  height: 50px;
  margin: 0px;
  background-color: #333;

}

a.mylogo{
  padding: 0px;
  margin-right: 20px;
}
