


body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}













body img{
  opacity: 0.4;
  height: 700px;
  width: 100%;
  /* filter: blur(3px);
  -webkit-filter: blur(3px); */
}



.register_text{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: black;
  font-size: 30px;
  font-family:monospace;
}

.register-box{

  color: black;
  font-weight: bold;
  border: 3px solid #000000;
  position:absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 30%;
  padding: 20px;
  text-align: center;
}


.register-box h3{
  float:left;
 font-size: 20px;
 padding: 7px 0;
}

.textbox1{
 width: 100%;
 overflow: hidden;
 font-size: 20px;
 padding: 8px 0;
 margin: 9px 0;
 border-bottom: 1px solid ;
}

.textbox1 input{
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 50%;
  float: left;
  margin: 10px;
}

.register-box button{
width: 40%;
background-color: Gray;
padding: 5px;
font-size: 20px;
cursor: pointer;
margin: 12px 0;
margin-bottom: 0.05em;
}




#nav1 a.active {
  background-color: #00BFFF;
  color: black;
}
